@import "./global/colors";
@import "./global/mixins";
@import "./global/variables";
* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: $backGroundColor;
  @include paddingTopPropaty;
}
.manu {
  @include allDesplayPropaty;
  ul {
    li {
      display: inline-block;
      a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 5px 15px;
        text-transform: capitalize;
        color: $manuTextColor;
        font-weight: 500;
      }
    }
  }
}
.logo {
  img {
    width: 30%;
  }
}
.addCart {
  background-color: $buttonBGColor;
  color: $textColor !important;
  border-radius: 5px;
}
.bannerText {
  font-size: 20px;
  text-transform: capitalize;
}
.orderButton {
  @include buttonPropaty;
}
.heroText {
  font-size: 70px;
  text-transform: capitalize;
}
.bannerContant {
  margin-top: 30%;
}
.mainImg {
  text-align: right;
}
.mainProdact {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.mainHading {
  font-size: 30px;
  text-transform: capitalize;
}
.box {
  text-align: center;
  box-shadow: 0px 0px 25px #bdbdbd;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.boxImg {
  max-width: 100%;
  text-align: center;
}
.prodactTitle {
  @include titlePropaty;
}
